@model BMS.Models.ManNoticeBoard

@{
    ViewBag.Title = "noticesDetails";
    Layout = "~/Views/Shared/_Managers.cshtml";
}

<h2>Notice Details</h2>

<div>
    <h4>ManNoticeBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesBody)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "notices")
</p>
